DATABASE_DRIVER="mongodb"
DATABASE_URL="mongodb://localhost:27017/prac"
# Режим раздачи статики:
# local - картинки доступны по /bg1s.jpg (для разработки)
# test - картинки доступны по /content/afisha/bg1s.jpg (для тестов)
STATIC_MODE="test"
DEBUG=*
